**Goal 1:** Create a pipeline for converting [G10 BIS Real RPP YoY data](https://data.bis.org/topics/RPP) to series data.

*Bank for International Settlements (2025), Residential property prices, BIS WS_DPP 1.0 and BIS WS_SPP 1.0 (data sets), https://data.bis.org/topics/RPP/data (accessed on 16 July 2025).*

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from country_codes import CODE_TO_COUNTRY

BIS_REAL_RPP_YOY_URL = "https://stats.bis.org/api/v2/data/dataflow/BIS/WS_SPP/1.0/Q.BE+CA+CH+DE+FR+GB+IT+JP+NL+SE+US.R.771?format=csv"

RPP_YoY = pd.read_csv(BIS_REAL_RPP_YOY_URL)[["REF_AREA", "TIME_PERIOD", "OBS_VALUE"]].pivot(
    index="TIME_PERIOD",
    columns="REF_AREA",
    values="OBS_VALUE"
)

RPP_YoY.index = pd.PeriodIndex(RPP_YoY.index, freq="Q").to_timestamp()
RPP_YoY.index.name = "Date"

RPP_YoY.columns.name = None
RPP_YoY.columns = RPP_YoY.columns.map(lambda c: CODE_TO_COUNTRY[c])

In [2]:
RPP_YoY

,Belgium,Canada,Switzerland,Denmark,France,United Kingdom,Italy,Japan,Netherlands,Sweden,United States
Date,,,,,,,,,,,
1948-01-01,NaN,NaN,NaN,NaN,NaN,NaN,5.1995,NaN,NaN,NaN,NaN
1948-04-01,NaN,NaN,NaN,NaN,NaN,NaN,15.0591,NaN,NaN,NaN,NaN
1948-07-01,NaN,NaN,NaN,NaN,NaN,NaN,17.1932,NaN,NaN,NaN,NaN
1948-10-01,NaN,NaN,NaN,NaN,NaN,NaN,13.1009,NaN,NaN,NaN,NaN
1949-01-01,NaN,NaN,NaN,NaN,NaN,NaN,-1.8206,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2024-01-01,0.4773,-1.8323,0.3107,-7.5491,-7.3505,-4.6943,0.6618,-0.0346,0.5010,-5.9525,2.1546
2024-04-01,-0.2091,-4.8214,0.0140,-4.6279,-6.6189,-1.6700,2.1156,0.0417,4.6616,-4.0214,1.4790
2024-07-01,0.3610,-5.6676,0.6750,-2.2894,-5.1317,-0.8411,2.7164,0.4514,6.6105,-1.7083,1.0173
2024-10-01,-0.3123,-3.4305,1.6974,-0.3476,-3.0957,0.5415,3.2094,-0.1152,6.6491,1.0308,0.6073
2025-01-01,NaN,-3.4233,3.7600,NaN,NaN,2.7494,2.7144,NaN,NaN,NaN,-0.2337

**Goal 2:** Create a pipeline for converting [G10 BIS Credit-to-GDP Gaps data]("https://stats.bis.org/api/v2/data/dataflow/BIS/WS_CREDIT_GAP/1.0/Q.BE+CA+CH+DE+FR+GB+IT+JP+NL+SE+US.P..C?format=csv") to series data.

*Bank for International Settlements (2025), Credit-to-GDP gaps, BIS WS_CREDIT_GAP 1.0 (data set), https://data.bis.org/topics/CREDIT_GAPS/data (accessed on 16 July 2025).*

In [7]:
BIS_CREDIT_TO_GDP_GAP_URL = "https://stats.bis.org/api/v2/data/dataflow/BIS/WS_CREDIT_GAP/1.0/Q.BE+CA+CH+DE+FR+GB+IT+JP+NL+SE+US.P..C?format=csv"

credit_to_GDP_gap = pd.read_csv(BIS_CREDIT_TO_GDP_GAP_URL)[["BORROWERS_CTY", "TIME_PERIOD", "OBS_VALUE"]].pivot(
    index="TIME_PERIOD",
    columns="BORROWERS_CTY",
    values="OBS_VALUE"
)

credit_to_GDP_gap.index = pd.PeriodIndex(credit_to_GDP_gap.index, freq="Q").to_timestamp()
credit_to_GDP_gap.index.name = "Date"

credit_to_GDP_gap.columns.name = None
credit_to_GDP_gap.columns = credit_to_GDP_gap.columns.map(lambda c: CODE_TO_COUNTRY[c])

In [11]:
credit_to_GDP_gap

,Belgium,Canada,Switzerland,Denmark,France,United Kingdom,Italy,Japan,Netherlands,Sweden,United States
Date,,,,,,,,,,,
1957-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.8
1958-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.5
1958-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.1
1958-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.3
1958-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.8
...,...,...,...,...,...,...,...,...,...,...,...
2023-10-01,-36.9,-15.1,-12.6,-1.7,-12.8,-21.2,-19.2,12.7,-59.4,-34.3,-10.4
2024-01-01,-34.6,-17.1,-11.1,-2.2,-16.1,-22.2,-19.4,12.1,-61.0,-23.5,-10.8
2024-04-01,-34.4,-16.3,-8.4,-2.5,-15.8,-21.4,-19.1,10.7,-61.0,-23.1,-11.0
2024-07-01,-34.7,-15.3,-11.5,-2.3,-15.4,-20.8,-19.2,8.2,-60.0,-20.0,-11.0
2024-10-01,-33.8,-15.4,-16.2,-2.6,-14.9,-20.4,-18.5,8.3,-59.9,-22.8,-12.3

**Goal 3:** Create a pipeline for convertin [G10 OECD Real GDP YoY data](https://data-explorer.oecd.org/vis?df[ds]=dsDisseminateFinalDMZ&df[id]=DSD_NAMAIN1%40DF_QNA_EXPENDITURE_GROWTH_OECD&df[ag]=OECD.SDD.NAD&df[vs]=&dq=Q..NLD%2BJPN%2BITA%2BGBR%2BUSA%2BFRA%2BSWE%2BDNK%2BCHE%2BCAN%2BBEL.S1..B1GQ......GY.&ly[rw]=REF_AREA&ly[cl]=TIME_PERIOD&to[TIME_PERIOD]=false&vw=ov&pd=1948-Q1%2C) to series data

In [42]:
import requests
from io import StringIO

OECD_real_GDP_YoY_URL = "https://sdmx.oecd.org/public/rest/data/OECD.SDD.NAD,DSD_NAMAIN1@DF_QNA_EXPENDITURE_GROWTH_OECD,/Q..NLD+JPN+ITA+GBR+USA+FRA+SWE+DNK+CHE+CAN+BEL.S1..B1GQ......GY.?startPeriod=1948-Q1&format=csvfilewithlabels"

real_GDP_YoY_res = requests.get(OECD_real_GDP_YoY_URL)
real_GDP_YoY = pd.read_csv(StringIO(real_GDP_YoY_res.text))[["Reference area", "TIME_PERIOD", "OBS_VALUE"]].pivot(
    index="TIME_PERIOD",
    columns="Reference area",
    values="OBS_VALUE"
)

real_GDP_YoY.index = pd.PeriodIndex(real_GDP_YoY.index, freq="Q").to_timestamp()
real_GDP_YoY.index.name = "Date"

real_GDP_YoY.columns.name = None

In [43]:
real_GDP_YoY

,Belgium,Canada,Denmark,France,Italy,Japan,Netherlands,Sweden,Switzerland,United Kingdom,United States
Date,,,,,,,,,,,
1948-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.611513
1948-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.584426
1948-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.401228
1948-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.893672
1949-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.943214
...,...,...,...,...,...,...,...,...,...,...,...
2024-01-01,0.808469,0.055052,0.797545,1.694742,0.260237,-0.878413,-0.637574,-0.020305,0.623086,0.680613,2.901832
2024-04-01,0.973743,0.543412,3.915887,0.985424,0.667468,-0.525980,0.747398,0.820651,1.381576,1.099112,3.036849
2024-07-01,1.200872,1.371445,4.967399,1.120538,0.568118,0.732956,1.993210,0.978619,1.713299,1.158393,2.718769
2024-10-01,NaN,1.927335,4.260551,0.610839,0.582807,1.396132,2.218626,2.160230,1.701242,1.465377,2.533684
2025-01-01,NaN,2.306547,2.306416,0.620141,0.667474,1.695573,2.494958,0.952519,1.911270,1.295037,1.991763