**Goal 1:** Create a pipeline for converting [G10 BIS Real RPP YoY data](https://data.bis.org/topics/RPP) to series data.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from country_codes import CODE_TO_COUNTRY

BIS_REAL_RPP_YOY_URL = "https://stats.bis.org/api/v2/data/dataflow/BIS/WS_SPP/1.0/Q.BE+CA+CH+DE+FR+GB+IT+JP+NL+SE+US.R.771?format=csv"

RPP_YoY = pd.read_csv(BIS_REAL_RPP_YOY_URL)[["REF_AREA", "TIME_PERIOD", "OBS_VALUE"]].pivot(
    index="TIME_PERIOD",
    columns="REF_AREA",
    values="OBS_VALUE"
)

RPP_YoY.index = pd.PeriodIndex(RPP_YoY.index, freq="Q").to_timestamp()
RPP_YoY.index.name = "Date"

RPP_YoY.columns.name = None
RPP_YoY.columns = RPP_YoY.columns.map(lambda c: CODE_TO_COUNTRY[c])

In [ ]:
RPP_YoY

,Belgium,Canada,Switzerland,Denmark,France,United Kingdom,Italy,Japan,Netherlands,Sweden,United States
Date,,,,,,,,,,,
1948-01-01,NaN,NaN,NaN,NaN,NaN,NaN,5.1995,NaN,NaN,NaN,NaN
1948-04-01,NaN,NaN,NaN,NaN,NaN,NaN,15.0591,NaN,NaN,NaN,NaN
1948-07-01,NaN,NaN,NaN,NaN,NaN,NaN,17.1932,NaN,NaN,NaN,NaN
1948-10-01,NaN,NaN,NaN,NaN,NaN,NaN,13.1009,NaN,NaN,NaN,NaN
1949-01-01,NaN,NaN,NaN,NaN,NaN,NaN,-1.8206,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2024-01-01,0.4773,-1.8323,0.3107,-7.5491,-7.3505,-4.6943,0.6618,-0.0346,0.5010,-5.9525,2.1546
2024-04-01,-0.2091,-4.8214,0.0140,-4.6279,-6.6189,-1.6700,2.1156,0.0417,4.6616,-4.0214,1.4790
2024-07-01,0.3610,-5.6676,0.6750,-2.2894,-5.1317,-0.8411,2.7164,0.4514,6.6105,-1.7083,1.0173
2024-10-01,-0.3123,-3.4305,1.6974,-0.3476,-3.0957,0.5415,3.2094,-0.1152,6.6491,1.0308,0.6073
2025-01-01,NaN,-3.4233,3.7600,NaN,NaN,2.7494,2.7144,NaN,NaN,NaN,-0.2337

**Goal 2:** Create a pipeline for [G10 BIS Credit-to-GDP Gaps data]("https://stats.bis.org/api/v2/data/dataflow/BIS/WS_CREDIT_GAP/1.0/Q.BE+CA+CH+DE+FR+GB+IT+JP+NL+SE+US.P..C?format=csv") to series data.

In [7]:
BIS_CREDIT_TO_GDP_GAP_URL = "https://stats.bis.org/api/v2/data/dataflow/BIS/WS_CREDIT_GAP/1.0/Q.BE+CA+CH+DE+FR+GB+IT+JP+NL+SE+US.P..C?format=csv"

credit_to_GDP_gap = pd.read_csv(BIS_CREDIT_TO_GDP_GAP_URL)[["BORROWERS_CTY", "TIME_PERIOD", "OBS_VALUE"]].pivot(
    index="TIME_PERIOD",
    columns="BORROWERS_CTY",
    values="OBS_VALUE"
)

credit_to_GDP_gap.index = pd.PeriodIndex(credit_to_GDP_gap.index, freq="Q").to_timestamp()
credit_to_GDP_gap.index.name = "Date"

credit_to_GDP_gap.columns.name = None
credit_to_GDP_gap.columns = credit_to_GDP_gap.columns.map(lambda c: CODE_TO_COUNTRY[c])

In [11]:
credit_to_GDP_gap

,Belgium,Canada,Switzerland,Denmark,France,United Kingdom,Italy,Japan,Netherlands,Sweden,United States
Date,,,,,,,,,,,
1957-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.8
1958-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.5
1958-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.1
1958-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.3
1958-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.8
...,...,...,...,...,...,...,...,...,...,...,...
2023-10-01,-36.9,-15.1,-12.6,-1.7,-12.8,-21.2,-19.2,12.7,-59.4,-34.3,-10.4
2024-01-01,-34.6,-17.1,-11.1,-2.2,-16.1,-22.2,-19.4,12.1,-61.0,-23.5,-10.8
2024-04-01,-34.4,-16.3,-8.4,-2.5,-15.8,-21.4,-19.1,10.7,-61.0,-23.1,-11.0
2024-07-01,-34.7,-15.3,-11.5,-2.3,-15.4,-20.8,-19.2,8.2,-60.0,-20.0,-11.0
2024-10-01,-33.8,-15.4,-16.2,-2.6,-14.9,-20.4,-18.5,8.3,-59.9,-22.8,-12.3