**Goal 1:** Create a pipeline for converting BIS API home prices panel data to series data.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from country_codes import CODE_TO_COUNTRY

BIS_REAL_RPP_YOY_URL = "https://stats.bis.org/api/v2/data/dataflow/BIS/WS_SPP/1.0/Q.BE+CA+CH+DE+FR+GB+IT+JP+NL+SE+US.R.771?format=csv"

df = pd.read_csv(BIS_REAL_RPP_YOY_URL)[["REF_AREA", "TIME_PERIOD", "OBS_VALUE"]].pivot(
    index="TIME_PERIOD",
    columns="REF_AREA",
    values="OBS_VALUE"
)

df.index = pd.PeriodIndex(df.index, freq="Q").to_timestamp()
df.index.name = "Date"

df.columns.name = None
df.columns = df.columns.map(lambda c: CODE_TO_COUNTRY[c])

In [2]:
df

,Belgium,Canada,Switzerland,Denmark,France,United Kingdom,Italy,Japan,Netherlands,Sweden,United States
Date,,,,,,,,,,,
1948-01-01,NaN,NaN,NaN,NaN,NaN,NaN,5.1995,NaN,NaN,NaN,NaN
1948-04-01,NaN,NaN,NaN,NaN,NaN,NaN,15.0591,NaN,NaN,NaN,NaN
1948-07-01,NaN,NaN,NaN,NaN,NaN,NaN,17.1932,NaN,NaN,NaN,NaN
1948-10-01,NaN,NaN,NaN,NaN,NaN,NaN,13.1009,NaN,NaN,NaN,NaN
1949-01-01,NaN,NaN,NaN,NaN,NaN,NaN,-1.8206,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2024-01-01,0.4773,-1.8323,0.3107,-7.5491,-7.3505,-4.6943,0.6618,-0.0346,0.5010,-5.9525,2.1546
2024-04-01,-0.2091,-4.8214,0.0140,-4.6279,-6.6189,-1.6700,2.1156,0.0417,4.6616,-4.0214,1.4790
2024-07-01,0.3610,-5.6676,0.6750,-2.2894,-5.1317,-0.8411,2.7164,0.4514,6.6105,-1.7083,1.0173
2024-10-01,-0.3123,-3.4305,1.6974,-0.3476,-3.0957,0.5415,3.2094,-0.1152,6.6491,1.0308,0.6073
2025-01-01,NaN,-3.4233,3.7600,NaN,NaN,2.7494,2.7144,NaN,NaN,NaN,-0.2337